table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

td {
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
